<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 01</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <a href="#" id="logo">Logo</a>
        <button id="openMenu">&#9776;</button>
        <nav id="menu">
            <button id="closeMenu">X</button>
            <a href="#">Início</a>
            <a href="#">Produtos</a>
            <a href="#">Contato</a>
            <a href="#">Sobre</a>
        </nav>
    </header>
    <main>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error suscipit explicabo dignissimos doloribus architecto deserunt porro ipsa numquam, sunt asperiores quae reiciendis qui. Perferendis qui maxime aperiam illo. Temporibus, dolores?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error suscipit explicabo dignissimos doloribus architecto deserunt porro ipsa numquam, sunt asperiores quae reiciendis qui. Perferendis qui maxime aperiam illo. Temporibus, dolores?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error suscipit explicabo dignissimos doloribus architecto deserunt porro ipsa numquam, sunt asperiores quae reiciendis qui. Perferendis qui maxime aperiam illo. Temporibus, dolores?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error suscipit explicabo dignissimos doloribus architecto deserunt porro ipsa numquam, sunt asperiores quae reiciendis qui. Perferendis qui maxime aperiam illo. Temporibus, dolores?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error suscipit explicabo dignissimos doloribus architecto deserunt porro ipsa numquam, sunt asperiores quae reiciendis qui. Perferendis qui maxime aperiam illo. Temporibus, dolores?</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error suscipit explicabo dignissimos doloribus architecto deserunt porro ipsa numquam, sunt asperiores quae reiciendis qui. Perferendis qui maxime aperiam illo. Temporibus, dolores?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error suscipit explicabo dignissimos doloribus architecto deserunt porro ipsa numquam, sunt asperiores quae reiciendis qui. Perferendis qui maxime aperiam illo. Temporibus, dolores?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error suscipit explicabo dignissimos doloribus architecto deserunt porro ipsa numquam, sunt asperiores quae reiciendis qui. Perferendis qui maxime aperiam illo. Temporibus, dolores?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error suscipit explicabo dignissimos doloribus architecto deserunt porro ipsa numquam, sunt asperiores quae reiciendis qui. Perferendis qui maxime aperiam illo. Temporibus, dolores?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error suscipit explicabo dignissimos doloribus architecto deserunt porro ipsa numquam, sunt asperiores quae reiciendis qui. Perferendis qui maxime aperiam illo. Temporibus, dolores?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error suscipit explicabo dignissimos doloribus architecto deserunt porro ipsa numquam, sunt asperiores quae reiciendis qui. Perferendis qui maxime aperiam illo. Temporibus, dolores?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error suscipit explicabo dignissimos doloribus architecto deserunt porro ipsa numquam, sunt asperiores quae reiciendis qui. Perferendis qui maxime aperiam illo. Temporibus, dolores?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error suscipit explicabo dignissimos doloribus architecto deserunt porro ipsa numquam, sunt asperiores quae reiciendis qui. Perferendis qui maxime aperiam illo. Temporibus, dolores?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error suscipit explicabo dignissimos doloribus architecto deserunt porro ipsa numquam, sunt asperiores quae reiciendis qui. Perferendis qui maxime aperiam illo. Temporibus, dolores?</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error suscipit explicabo dignissimos doloribus architecto deserunt porro ipsa numquam, sunt asperiores quae reiciendis qui. Perferendis qui maxime aperiam illo. Temporibus, dolores?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error suscipit explicabo dignissimos doloribus architecto deserunt porro ipsa numquam, sunt asperiores quae reiciendis qui. Perferendis qui maxime aperiam illo. Temporibus, dolores?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error suscipit explicabo dignissimos doloribus architecto deserunt porro ipsa numquam, sunt asperiores quae reiciendis qui. Perferendis qui maxime aperiam illo. Temporibus, dolores?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error suscipit explicabo dignissimos doloribus architecto deserunt porro ipsa numquam, sunt asperiores quae reiciendis qui. Perferendis qui maxime aperiam illo. Temporibus, dolores?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error suscipit explicabo dignissimos doloribus architecto deserunt porro ipsa numquam, sunt asperiores quae reiciendis qui. Perferendis qui maxime aperiam illo. Temporibus, dolores?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error suscipit explicabo dignissimos doloribus architecto deserunt porro ipsa numquam, sunt asperiores quae reiciendis qui. Perferendis qui maxime aperiam illo. Temporibus, dolores?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error suscipit explicabo dignissimos doloribus architecto deserunt porro ipsa numquam, sunt asperiores quae reiciendis qui. Perferendis qui maxime aperiam illo. Temporibus, dolores?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error suscipit explicabo dignissimos doloribus architecto deserunt porro ipsa numquam, sunt asperiores quae reiciendis qui. Perferendis qui maxime aperiam illo. Temporibus, dolores?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error suscipit explicabo dignissimos doloribus architecto deserunt porro ipsa numquam, sunt asperiores quae reiciendis qui. Perferendis qui maxime aperiam illo. Temporibus, dolores?</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error suscipit explicabo dignissimos doloribus architecto deserunt porro ipsa numquam, sunt asperiores quae reiciendis qui. Perferendis qui maxime aperiam illo. Temporibus, dolores?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error suscipit explicabo dignissimos doloribus architecto deserunt porro ipsa numquam, sunt asperiores quae reiciendis qui. Perferendis qui maxime aperiam illo. Temporibus, dolores?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error suscipit explicabo dignissimos doloribus architecto deserunt porro ipsa numquam, sunt asperiores quae reiciendis qui. Perferendis qui maxime aperiam illo. Temporibus, dolores?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error suscipit explicabo dignissimos doloribus architecto deserunt porro ipsa numquam, sunt asperiores quae reiciendis qui. Perferendis qui maxime aperiam illo. Temporibus, dolores?</p>
    </main>
    <aside>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error suscipit explicabo dignissimos doloribus architecto deserunt porro ipsa numquam, sunt asperiores quae reiciendis qui. Perferendis qui maxime aperiam illo. Temporibus, dolores?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error suscipit explicabo dignissimos doloribus architecto deserunt porro ipsa numquam, sunt asperiores quae reiciendis qui. Perferendis qui maxime aperiam illo. Temporibus, dolores?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error suscipit explicabo dignissimos doloribus architecto deserunt porro ipsa numquam, sunt asperiores quae reiciendis qui. Perferendis qui maxime aperiam illo. Temporibus, dolores?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error suscipit explicabo dignissimos doloribus architecto deserunt porro ipsa numquam, sunt asperiores quae reiciendis qui. Perferendis qui maxime aperiam illo. Temporibus, dolores?</p>
    </aside>
    <footer>Rodapé</footer>
    <script src="scripts.js"></script>
</body>
</html>