p{
    color: pink;
    background-color: yellow;
}
#paragrafo1{
    color: red;
    background-color: transparent;
}
.fundo-azul{
    color: aquamarine;
    background-color: crimson;
}
.texto-branco{
    color: white;
}