body{
    font-size: 40px;
}
#tnr{
    font-family: "Times New Roman";
}
#ss{
    font-family: sans-serif;
}
#ms{
    font-family: monospace;
}
#comic{
    font-family: "Comic Sans MS", Arial;
}
#italico{
    font-style: italic;
}
#fp{
    font-weight: bolder;
}
#fv{
    font-variant: small-caps;
}